# **Lead Data Scientist Interview**

This interview is also about assessing your results, but also how you work your thought process

## **SQL**

The initial portion of this test concerns SQL.

In [13]:
# CREATING THE TABLE
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
DROP TABLE IF EXISTS team_data;''')


conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.execute('''
CREATE TABLE IF NOT EXISTS trophy_data(team text, 
                      country text, 
                      season integer, 
                      trophy_type text);''')

conn.commit()

print("Table created successfully");

# conn.close()

Opened database successfully
Table created successfully

In [17]:
# INSERTING VALUES

conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 63);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 52);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2018, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2018, 45);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2018, 50 );")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2022, 65);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2020, 55);")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2021, 70 );")
conn.execute("INSERT INTO team_data VALUES('Bayern', 'Germany', 2022, 55);")

conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2022, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2021, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Bayern', 'Germany', 2018, 'Champions League');")
conn.execute("INSERT INTO trophy_data VALUES('Real Madrid', 'Spain', 2022, 'Champions League');")
conn.execute("INSERT INTO trophy_data VALUES('Real Madrid', 'Spain', 2022, 'LaLiga');")
conn.execute("INSERT INTO trophy_data VALUES('Real Madrid', 'Spain', 2020, 'Bundesliga');")
conn.execute("INSERT INTO trophy_data VALUES('Barcelona', 'Spain', 2021, 'LaLiga');")
conn.execute("INSERT INTO trophy_data VALUES('Barcelona', 'Spain', 2019, 'Champions League');")
conn.execute("INSERT INTO trophy_data VALUES('Barcelona', 'Spain', 2017, 'LaLiga');")

conn.commit()

In [18]:
cursor = conn.execute("SELECT * FROM team_data;")

for row in cursor:
  print(row)

('Real Madrid', 'Spain', 2019, 63)
('Barcelona', 'Spain', 2019, 47)
('Arsenal', 'UK', 2019, 52)
('Real Madrid', 'Spain', 2018, 49)
('Barcelona', 'Spain', 2018, 45)
('Arsenal', 'UK', 2018, 50)
('Real Madrid', 'Spain', 2022, 65)
('Bayern', 'Germany', 2020, 55)
('Bayern', 'Germany', 2021, 70)
('Bayern', 'Germany', 2022, 55)
('Real Madrid', 'Spain', 2019, 63)
('Barcelona', 'Spain', 2019, 47)
('Arsenal', 'UK', 2019, 52)
('Real Madrid', 'Spain', 2018, 49)
('Barcelona', 'Spain', 2018, 45)
('Arsenal', 'UK', 2018, 50)
('Real Madrid', 'Spain', 2022, 65)
('Bayern', 'Germany', 2020, 55)
('Bayern', 'Germany', 2021, 70)
('Bayern', 'Germany', 2022, 55)

In [19]:
cursor = conn.execute("SELECT * FROM trophy_data;")

for row in cursor:
  print(row)

('Bayern', 'Germany', 2022, 'Bundesliga')
('Bayern', 'Germany', 2021, 'Bundesliga')
('Bayern', 'Germany', 2018, 'Champions League')
('Real Madrid', 'Spain', 2022, 'Champions League')
('Real Madrid', 'Spain', 2022, 'LaLiga')
('Real Madrid', 'Spain', 2020, 'Bundesliga')
('Barcelona', 'Spain', 2021, 'LaLiga')
('Barcelona', 'Spain', 2019, 'Champions League')
('Barcelona', 'Spain', 2017, 'LaLiga')

### **Question 1** 
Find the average number of goals scored by a team

**Output Columns**

    Team , avg_goals

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 2**
List the team with average goals higher than 55

**Output Columns**

    team_name , avg_goals

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 3**
Create a table that contains the winner of the Bundesliga, LaLiga, and Champions league each year.

**Output Columns**

    year, bundesliga_winner , laliga_winner, champions_league_winner

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 4**
Create a table that contains the Champions League winner, and the previous years Champions League winner.

**Output Columns**

    year, champions_league_winner, previous_year_champions_league_winner

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

### **Question 5**
Find the team(s) with average goals higher than 50 and have won the **Champions League**.

**Output Columns**

    team_name , avg_goals, trophy_type

In [ ]:
sql = """
;"""

cursor = conn.execute(sql)

for row in cursor:
  print(row)

## **Algorithms**

This section will test your knowledge of machine learning algorithms and implementation.

### **Question 1**:

Using skeleton code, write a k-means algorithm from scratch.

## **Question 2**

What are some of the drawbacks of this algorithm, and how would you go about improving it?

## **Python**

This section will assess your knowledge of Python.

### **Intro**

We have attached a csv to the session for the notebook, containing the average UK temperature over the last 100 years. We will be using this csv for the rest of this section.

### **Question 1**

Using pandas, load the *average_temperates* file from the *files* section. The layout of this csv is as follows: 

    year [int], average_uk_temperature [float], average_fr_temperature [float]

### **Question 2**

Plot the dataset and describe what you see

### **Question 3**

We have a hypothesis that the average yearly temperate in the UK is lower than France.

    H0: The average temperatures are the same
    H1: The average temperature in France is hotter than the UK.

#### a. What type of test would this require?

#### b. Create a function to normalise a dataset.

    Input: X
    Output: X_norm

#### c. Answer the hypothesis that the temperates are the same at a 95% confidence level.

*You may use assume the critical t-value is 1.984, and the variances are not equal.*

### **Question 4**

Fit a linear regression model on the data, predicting the UK average temperate based on the year.

You may use sklearn.

## **Modelling in Production**

Congratualtions! You've made it to the final section of the test. This section of the test is more of an informal chat, so feel free to take a breather.

1.   How would you explain the predictions of a ML model?
1.   How would you explain an individual prediction by a ML model?
1.   Can you give an example of regression problem vs a classification problem? 
1.   Imagine we have one model in production, however we've created another challenger model. How would you compare the original model vs the challenger model's performance?
1.   Can you give an example of problems where you'd use linear regression over a tree based model and vice versa?